#app {
  display: flex;
  justify-content: space-between;
}

.state-display > div {
  width: 100%;
  max-width: none;
}

.array-max-height {
  max-height: 300px;
}

.array-item {
  max-width: 375px;
  min-width: 64px;
  margin-right: 6px;
}

.array-item-object {
  margin-right: 6px;
}

.kv-display {
  padding-bottom: 2px;
  padding-right: 5px;
  white-space: nowrap;
}

.object-display > div {
  margin-left: 8px;
}

.array-display > div {
  margin-left: 12px;
}

.enum-display {
  color: #66B9A0;
}

.boolean-display {
  color: #e7701a;
}

.string-display {
  color: #B399EA;
}

.int-display {
  color: #e7701a;
}

.float-display {
  color: #e7701a;
}

.user-display {
  color: #329afa;
}
