import React, { useEffect, useState } from "react";
import ReactDOM from "react-dom";
import { BrowserRouter, Route, Switch, useHistory, useParams } from "react-router-dom";
import { ToastContainer, Zoom, toast } from "react-toastify";
{{#if auth.google}}
import { GoogleLogin } from "react-google-login";
{{/if}}
import { RtagClient, RtagConnection } from "./client";
import { {{userState}} as UserState } from "./types";
import { RtagContext } from "./context";
import { Forms, InitializeForm } from "./Forms";
import { State } from "./State";

const client = new RtagClient(import.meta.env.VITE_APP_ID);

function App() {
  const [connection, setConnection] = useState<RtagConnection>();
  const [state, setState] = useState<UserState>();
  const [token, setToken] = useState<string | null>(sessionStorage.getItem("token"));
  const history = useHistory();

  useEffect(() => {
    const location = history.location;
    if (location.hash.length > 0) {
      sessionStorage.setItem("token", location.hash.substring(1));
      setToken(location.hash.substring(1));
      history.replace(location.pathname);
    }
  }, [history]);

  if (token === null) {
    return <Login setToken={setToken} />;
  }

  return (
    <Switch>
      <Route path="/state/:stateId">
        <Main token={token} state={state} connection={connection} setState={setState} setConnection={setConnection} />
      </Route>
      <Route exact path="/">
        <Home token={token} setState={setState} setConnection={setConnection} />
      </Route>
      <Route path="/">
        <div>Not Found</div>
      </Route>
    </Switch>
  );
}

function Login({ setToken }: { setToken: (token: string) => void }) {
  return (
    <div className="login">
      <h2>Login</h2>
{{#each auth}}
{{#if (eq @key "anonymous")}}
      <button
        onClick={() =>
          client
            .loginAnonymous()
            .then((token) => {
              sessionStorage.setItem("token", token);
              setToken(token);
            })
            .catch((e) => toast.error("Authentication error: " + e.reason))
        }
      >
        <span>Login Anonymously</span>
      </button>
{{else if (eq @key "google")}}
      <GoogleLogin
        clientId="{{clientId}}"
        onSuccess={({ tokenId }: any) =>
          client
            .loginGoogle(tokenId)
            .then((token) => {
              sessionStorage.setItem("token", token);
              setToken(token);
            })
            .catch((e) => toast.error("Authentication error: " + e.reason))
        }
      />
{{/if}}
{{/each}}
    </div>
  );
}

type HomeProps = { token: string; setState: (state: UserState) => void; setConnection: (conn: RtagConnection) => void };
function Home({ token, setState, setConnection }: HomeProps) {
  const [stateId, setStateId] = useState<string>("");
  const history = useHistory();
  return (
    <div className="home">
      <h2>Home</h2>
      <InitializeForm
        submit={(request) =>
          client
            .connectNew(token, request, setState)
            .then((conn) => {
              history.push(`/state/${conn.stateId}`);
              setConnection(conn);
            })
            .catch((e) => toast.error("Connection error: " + e.reason))
        }
      />
      <input type="text" value={stateId} onChange={(e) => setStateId(e.target.value)}></input>
      <button onClick={() => history.push(`/state/${stateId}`)}>Join existing</button>
    </div>
  );
}

type MainProps = {
  token: string;
  state: UserState | undefined;
  setState: (state: UserState) => void;
  connection: RtagConnection | undefined;
  setConnection: (conn: RtagConnection) => void;
};
function Main({ token, state, setState, connection, setConnection }: MainProps) {
  const { stateId } = useParams<{ stateId: string }>();
  if (stateId !== connection?.stateId) {
    client
      .connectExisting(token, stateId, setState)
      .then(setConnection)
      .catch((e) => toast.error("Connection error: " + e.reason));
  }

  if (state === undefined || connection === undefined) {
    return <div>Loading...</div>;
  }

  return (
    <RtagContext.Provider value=\{{ connection, state }}>
      <State />
      <Forms />
    </RtagContext.Provider>
  );
}

ReactDOM.render(
  <BrowserRouter>
    <App />
    <ToastContainer position="top-center" autoClose={2000} transition={Zoom} hideProgressBar />
  </BrowserRouter>,
  document.getElementById("root")
);
