<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">
  <head>
    <title>{{appName}}</title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700,900&amp;lang=en" />
    <link rel="stylesheet" href="/tailwind.css" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/node_modules/react-toastify/dist/ReactToastify.css" />
  </head>
  <body class="h-full">
    <div id="root"></div>
    <script type="module" src="/App.tsx"></script>
  </body>
</html>
