<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{appName}}</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/node_modules/react-toastify/dist/ReactToastify.css" />
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/App.tsx"></script>
  </body>
</html>
